<h2>Schedules</h2>

<!--
<form (submit)="addBroadcast()">
  <input [(ngModel)]="newBroadcast" name="newBroadcast" placeholder="put broadcast here">
  <button type="submit">Add</button>
</form>
-->

  <label for="keywordFilter">Keyword</label>
  <input name="keywordFilter" [(ngModel)]="keywordFilter" type="text" class="form-control input-small" />
    
  <label for="channelFilter">Channel</label>
  <select name="channelFilter" [(ngModel)]="channelFilter" class="form-control input-small" item-width="20">
    <option value="*"  selected="selected">*</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
    <option value="H">H</option>
    <option value="I">I</option>
    <option value="J">J</option>
    <option value="K">K</option>
    <option value="L">L</option>
    <option value="M">M</option>
    <option value="N">N</option>
    <option value="O">O</option>
    <option value="P">P</option>
    <option value="Q">Q</option>
    <option value="R">R</option>
    <option value="S">S</option>
    <option value="T">T</option>
    <option value="U">U</option>
    <option value="V">V</option>
    <option value="W">W</option>
    <option value="X">X</option>
    <option value="Y">Y</option>
    <option value="Z">Z</option>
  </select>
  <br/><br/>
 

<table class="table table-striped table-bordered table-condensed">
  <tr *ngFor="let broadcast of broadcasts | channel : 'channel' : channelFilter | desc : 'desc' : keywordFilter ">
    <td>{{ broadcast.start }}</td>
    <td>{{ broadcast.channel }}</td>
    <td><strong>{{ broadcast.title }}</strong><br/>{{ broadcast.epTitle }}<br/>{{ broadcast.typ }}&nbsp;{{ broadcast.yr }}</td>
    <td>{{ broadcast.desc }}</td>
  </tr>
</table>
